[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pbr = "*"
cfitall = {editable = true,path = "."}
ipython = "*"
twine = "*"
coverage = "*"
mypy = "*"
sphinx = "*"
sphinx-autodoc-typehints = "*"
sphinx-rtd-theme = "*"

[packages]
pyyaml = "*"
types-pyyaml = "*"
